<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var name = prompt('What is your name?');
            var client_id;
            if (name) {
                $("body").html("<h1><u>Conversation Board</u></h1><div id='the_board'></div>");
                $("body").append("<input type='text' id='msg_here' placeholder='Enter your message here'> <button>Send</button>");

            }
            var socket = io();
            socket.emit('got_new_user', name);
            socket.on('new_user', function(data) {
                client_id = data;
            });
            socket.on('greeting', function(data) {
                for(var i = 0; i < data.length; ++i) {
                    $("#the_board").append(data[i][0] + ":    " + data[i][1] + "<br>");
                }
            });
            $("button").click(function() {
                console.log("button clicked");
                socket.emit('new_msg', {name: name, msg:$("#msg_here").val()});
                $("#msg_here").val("");
            });
            socket.on('update_board', function(data) {
                console.log(data);
                $("#the_board").append(data.name + ":    " + data.msg + "<br>");
            });
            socket.on('user_disconnected', function(data) {
                $("#the_board").append(data + " has been disconnected. \n");
                socket.emit('disconnect_updated');
            });
            
            return false;
        });
    </script>
    <style>
        #the_board {
            width: 80%;
            height: 500px;
            border: 1px solid black;
            margin: 20px;
            line-height: 1.5;
        }
        #msg_here {
            width: 80%;
            height: 50px;
            border: 1px solid black;
            margin: 20px;
        }  
    </style>
    <title>Group Chat</title>
</head>
<body>

    
</body>
</html>