<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Details</title>
</head>
<body>

    <% if (animal) { %>
        <h1><%= animal.title %></h1>
        <h4><%= animal.desc %></h4>
        <a href="/">Back to Dashboard</a>
    <% } %>
</body>
</html>