<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Mongooses</title>
    <style>
        table {
            margin: 30px;
        }
    
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        <% for (var animal of all_animals) { %>
            <tr>
                <td><%= animal.title %></td>
                <td><a href="/animal/<%=animal._id%>" >View</a>
                    <a href="/animal/edit/<%=animal._id%>">Edit</a>
                    <a href="/animal/destroy/<%=animal._id%>" >Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <a href="/animal/new">Add a new animal!</a>
</body>
</html>